<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @listing_task.description %>
</p>

<%= link_to 'Edit', edit_listing_task_path(@listing_task) %> |
<%= link_to 'Back', listing_tasks_path %>
