  <div class= "page-header">
    <%= link_to 'New User', new_user_path, class: "btn btn-primary pull-right" %>
    <h2>Users</h2>

  </div>


  <table class="table" width="100%">
      <thead>
        <th>Name</th><th>Email</th><th></th><th width="50%"></th>
      </thead>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
            </td>
            <td>
              <%= mail_to user.email %>
            </td>
            <td></td>
            <td>
              <%= link_to 'Edit', edit_user_path(user), class: "pull-right" %>
            </td>
          </tr>
        <% end %>
  </table>
