<style>
  body {
    background: url('https://farm4.staticflickr.com/3933/15335307918_b70c35872f_h.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
</style>


  <center>
    <h1>gCamp</h1>
    <h6><p>Your life, organized</p></h6>
  </center>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="white">
      <div class="primary"><h2>Tasks</h2></div>
      <p>Grouped by projects and lists. Just the way you like'em.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="white">
      <div class="primary"> <h2>Documents</h2> </div>
      <p>
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </p>
      </div>
   </div>

    <div class="col-md-4">
      <div class="white">
      <div class="primary"><h2>Comments</h2></div>
      <p>
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
        </ul>
      </p>
      </div>
    </div>
  </div>

<br>
<br>


<% @quotes.shuffle.each do |quote| %>
<div class="quote" style="
  background: rgba(0,0,0,0.4);
  border-radius: 4px;
  padding: .5em 1em .1em 1em;
  color: #efefef;
  margin: 5px;
">

<strong><p>"<%= quote.text %>"</p></strong>
<p class= "author_grey"> - <%= quote.author %></p>
</div>

<% end %>
