<style>
  body {
    background: url('https://farm4.staticflickr.com/3933/15335307918_b70c35872f_h.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
</style>


  <center>
    <h1>gCamp</h1>
    <h6><p>Your life, organized</p></h6>
  </center>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <!-- Images from old layout
      <img src="https://farm6.staticflickr.com/5343/8969254495_8b037a0e09.jpg" class="img-responsive" alt="Responsive image">
      -->
      <div class="white">
      <h2>Tasks</h2>
      <p>Grouped by projects and lists. Just the way you like'em.</p>
      </div>
    </div>
    <div class="col-md-4">
      <!--CANNOT figure out how to host my own images!! -->
      <!--<img src= "../../assets/images/1.jg" class="img-responsive" alt="Responsive image">-->
      <!--Images from old layout
      <img src= "https://farm9.staticflickr.com/8482/8203794182_8004f8f636.jpg" class="img-responsive" alt="Responsive image">
    -->
      <div class="white">
      <h2>Documents</h2>
      <p>
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </p>
      </div>
   </div>
    <div class="col-md-4">
      <!-- Images from old layout
      <img src="https://farm4.staticflickr.com/3931/15414276212_b3aa5402f2.jpg" class="img-responsive" alt="Responsive image">
      -->
      <div class="white">
      <h2>Comments</h2>
      <p>
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
        </ul>
      </p>
      </div>
    </div>
  </div>

<br>
<br>


 <!-- things used to be here -->


<% @quotes.shuffle.each do |quote| %>
<strong><p>"<%= quote.text %>"</p></strong>
<p class= "author_grey"> - <%= quote.author %></p>
<% end %>
