<div id="container">
  <div class="page-header">
    <h2>Terms</h2>
  </div>


  <p>gCamp is not responsible for anything, unless it is positive.</p>
    <br>
  <p>You may not take us to court, for anything ever.</p>

</div>
