<div class="page-header">
<%= link_to "Add a Project", new_project_path, class:"btn btn-primary pull-right" %>
<h4>Projects</h4>
</div>

<% if notice.is_a? String %>

<div class="text-center alert alert-success"><%= notice %></div>
<% end %>

<table class="table">
  <th>Name</th>
    <% @projects.each do |project| %>
      <tr>

  <td><%= link_to project.name, project_path(project) %></td>
</tr>
  <% end %>
</table>
