<div class="page-header">
  <% if notice.is_a? String %>
    <div class="text-center alert alert-success"><%= notice %></div>
  <% end %>
</div>
<h2> <span class="col-md-9"><%= @project.name %></span></h2>



<%= link_to "Edit", edit_project_path(@project), class:"btn btn-info col-md-offset-1"  %>

<%= link_to "Destroy", project_path(@project), class:"btn btn-danger", :method => :delete%>
