/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron  {
  background-color: rgba (0,0,0,0);
}


.navbar-inverse{
  color: white;
}



.navbar-brand{
  color: white;

  /* unvisited link */
  a:link {
      color: white;
  }

  /* visited link */
  a:visited {
      color: white;
  }

  /* mouse over link */
  a:hover {
      color: white;
      text-decoration: underline;
  }

  a:active {
      color: white;
  }
}

.white{
  p{
    padding-left:10px;
    padding-right:10px;
  }

  background-color:white;
  height:9em;

}

.primary{
  background-color:#3173BF;
  color:white;
  padding-left:10px;
  padding-right:10px;
}


.author_grey{
  color: #fff;
}

.faq_question{
  text-decoration: bold;
}

footer{
  color: black;

  /* unvisited link */
  a:link {
      color: #000000;
  }

  /* visited link */
  a:visited {
      color: #000000;
  }

  /* mouse over link */
  a:hover {
      color: #000000;
      text-decoration: underline;
  }

  a:active {
      color: #000000;
  }
}
