/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*
body {
  background-image:  url('https://farm8.staticflickr.com/7304/10891456256_6aac4bc4d2_k.jpg');
}
*/




.navbar {
  background-color: orange;
  position: fixed;
}

.jumbotron  {
  background-color: rgba (0,0,0,0);
/*  height: 60vh;*/
}

h1 {
  color: black;
}

h6 {
  color: white;
}

h2 {
  background-color:#428bca;
}

.white{
  background-color:white;
  height:9em;
}
